section.service-detail 
    .service-detail__container
        h2.service-detail__title Букальный массаж
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Уникальная техника внутриротового массажа для лифтинга. Букальный массаж направлен на улучшение контуров лица, подтяжку кожи и тонизирование мышц.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Улучшение кровообращения
                        li.service-detail__item Снятие мышечного напряжения
                        li.service-detail__item Повышение эластичности кожи
                        li.service-detail__item Улучшение контуров лица
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_bucal.jpg", alt="Букальный массаж")

include button-up.pug

