section.bucal 
    .bucal__container
        h2.bucal__title Букальный массаж
        .bucal__content
            .bucal__text
                p.bucal__description 
                    | Букальный массаж лица - это эффективная техника массажа, направленная на улучшение состояния кожи лица, снятие напряжения и повышение тонуса мышц.
                .bucal__info
                    h3.bucal__subtitle Что включает процедура:
                    ul.bucal__list
                        li.bucal__item Улучшение кровообращения
                        li.bucal__item Снятие мышечного напряжения
                        li.bucal__item Повышение эластичности кожи
                        li.bucal__item Улучшение контуров лица
                .bucal__action
                    a.bucal__btn(href="/#reception") Записаться на прием
            .bucal__image
                img(src="images/card_2.png", alt="Букальный массаж")

include button-up.pug

