section.service-detail 
    .service-detail__container
        h2.service-detail__title Букальный массаж
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Букальный массаж лица - это эффективная техника массажа, направленная на улучшение состояния кожи лица, снятие напряжения и повышение тонуса мышц.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Улучшение кровообращения
                        li.service-detail__item Снятие мышечного напряжения
                        li.service-detail__item Повышение эластичности кожи
                        li.service-detail__item Улучшение контуров лица
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_2.png", alt="Букальный массаж")

include button-up.pug

