section.service-detail 
    .service-detail__container
        h2.service-detail__title Классический массаж
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Классический массаж — это глубокое воздействие на мышечные ткани, направленное на расслабление, восстановление тонуса и улучшение общего самочувствия. Процедура помогает снять напряжение, улучшить кровообращение и лимфоток.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Глубокое расслабление мышц
                        li.service-detail__item Улучшение кровообращения
                        li.service-detail__item Стимуляция лимфотока
                        li.service-detail__item Восстановление мышечного тонуса
                        li.service-detail__item Снятие напряжения и стресса
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_classic_massage.jpg", alt="Классический массаж")

include button-up.pug

