// include contact.pug
section.contact(id='contact') 
    h2 Контакты
    .contact__map(id='map')
    .contact__card.card
        h3 Контакты
        .card__address
            address д. Кондратво
            address ул. Карла Маркса д. 8А
            em вход в Зоомагазин
        .card__schedule
            p с 9:00 до 21:00
            p последняя запись до 19:00
        .card__phone
            a(href="tel:+79638816267") +7(963)-881-62-67
        .card__social
            a(href="https://vk.com/buccal59", target="_blank") Наша группа в контакте