section.cosmetology 
    .cosmetology__container
        h2.cosmetology__title Косметология
        .cosmetology__content
            .cosmetology__text
                p.cosmetology__description 
                    | Комплексный уход за кожей с использованием современных косметологических методик и профессиональной косметики. Индивидуальный подход к каждому клиенту.
                .cosmetology__info
                    h3.cosmetology__subtitle Что включает процедура:
                    ul.cosmetology__list
                        li.cosmetology__item Диагностика состояния кожи
                        li.cosmetology__item Индивидуальный подбор программы ухода
                        li.cosmetology__item Профессиональная чистка лица
                        li.cosmetology__item Увлажнение и питание кожи
                        li.cosmetology__item Защита от преждевременного старения
                .cosmetology__action
                    a.cosmetology__btn(href="/#reception") Записаться на прием
            .cosmetology__image
                img(src="images/card_4.png", alt="Косметология")

include button-up.pug

