section.service-detail 
    .service-detail__container
        h2.service-detail__title Косметология
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Комплексный уход за кожей с использованием современных косметологических методик и профессиональной косметики. Индивидуальный подход к каждому клиенту.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Диагностика состояния кожи
                        li.service-detail__item Индивидуальный подбор программы ухода
                        li.service-detail__item Профессиональная чистка лица
                        li.service-detail__item Увлажнение и питание кожи
                        li.service-detail__item Защита от преждевременного старения
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_4.png", alt="Косметология")

include button-up.pug

