section.epilation 
    .epilation__container
        h2.epilation__title Эпиляция
        .epilation__content
            .epilation__text
                p.epilation__description 
                    | Безболезненное и эффективное удаление нежелательных волос современными методами. Длительный результат и гладкая кожа без раздражения.
                .epilation__info
                    h3.epilation__subtitle Что включает процедура:
                    ul.epilation__list
                        li.epilation__item Консультация и подбор метода
                        li.epilation__item Подготовка кожи
                        li.epilation__item Удаление волос
                        li.epilation__item Уход после процедуры
                        li.epilation__item Длительный результат
                .epilation__action
                    a.epilation__btn(href="/#reception") Записаться на прием
            .epilation__image
                img(src="images/card_5.png", alt="Эпиляция")

include button-up.pug

