section.service-detail 
    .service-detail__container
        h2.service-detail__title Эпиляция
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Безболезненное и эффективное удаление нежелательных волос современными методами. Длительный результат и гладкая кожа без раздражения.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Консультация и подбор метода
                        li.service-detail__item Подготовка кожи
                        li.service-detail__item Удаление волос
                        li.service-detail__item Уход после процедуры
                        li.service-detail__item Длительный результат
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_5.png", alt="Эпиляция")

include button-up.pug

