section.service-detail 
    .service-detail__container
        h2.service-detail__title Ресницы
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Наращивание и ламинирование ресниц для создания естественного, выразительного взгляда. Мы используем только качественные материалы и индивидуальный подход к каждому клиенту.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Наращивание ресниц (классика, объем, гибрид)
                        li.service-detail__item Ламинирование натуральных ресниц
                        li.service-detail__item Окрашивание ресниц
                        li.service-detail__item Индивидуальный подбор формы и объема
                        li.service-detail__item Коррекция и уход
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_eyelashes.jpg", alt="Ресницы")

include button-up.pug

