section.face-massage 
    .face-massage__container
        h2.face-massage__title Массаж лица
        .face-massage__content
            .face-massage__text
                p.face-massage__description 
                    | Профессиональный массаж лица направлен на глубокое расслабление, улучшение кровообращения и лимфотока, а также повышение упругости и эластичности кожи.
                .face-massage__info
                    h3.face-massage__subtitle Что включает процедура:
                    ul.face-massage__list
                        li.face-massage__item Расслабление мимических мышц
                        li.face-massage__item Улучшение кровообращения
                        li.face-massage__item Стимуляция лимфотока
                        li.face-massage__item Повышение упругости кожи
                        li.face-massage__item Улучшение цвета лица
                .face-massage__action
                    a.face-massage__btn(href="/#reception") Записаться на прием
            .face-massage__image
                img(src="images/card_1.png", alt="Массаж лица")

include button-up.pug

