section.service-detail 
    .service-detail__container
        h2.service-detail__title Массаж лица
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Омоложение и улучшение тонуса кожи лица. Профессиональный массаж направлен на глубокое расслабление, улучшение кровообращения и лимфотока, а также повышение упругости и эластичности кожи.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Расслабление мимических мышц
                        li.service-detail__item Улучшение кровообращения
                        li.service-detail__item Стимуляция лимфотока
                        li.service-detail__item Повышение упругости кожи
                        li.service-detail__item Улучшение цвета лица
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_face_massage.jpg", alt="Массаж лица")

include button-up.pug

