//include features.pug
section.features#features
    .features__container 
        h2 Наши приемущества
        .features__wrapper 
            .features__card 
                .features__card-img 
                    img(src="./images/icon/features_1.svg", alt="Персонал")
                .features__card-txt 
                    p Квалифицированный перонал
            .features__card 
                .features__card-img 
                    img(src="./images/icon/features_2.svg", alt="Подход")
                .features__card-txt 
                    p Индивидуальный подход к каждому клиенту
            .features__card 
                .features__card-img 
                    img(src="./images/icon/features_3.svg", alt="Гарантия")
                .features__card-txt 
                    p 100% гарантия результата
            .features__card 
                .features__card-img 
                    img(src="./images/icon/features_4.svg", alt="Методики")
                .features__card-txt 
                    p Новейшие методики
            .features__card 
                .features__card-img 
                    img(src="./images/icon/features_5.svg", alt="Оборудование")
                .features__card-txt 
                    p Современное оборудование