//include features.pug
section.features#features
    .features__container 
        .features__header
            h2.features__title Почему выбирают нас
            p.features__subtitle Мы создаём пространство гармонии и естественной красоты
        .features__wrapper 
            .features__card 
                .features__card-icon
                    img(src="images/icon/leaf.svg", alt="Натуральные продукты")
                h3.features__card-title Натуральные продукты
                p.features__card-description Используем только органическую косметику и масла премиум-класса
            .features__card 
                .features__card-icon
                    img(src="images/icon/sparkles.svg", alt="Профессионализм")
                h3.features__card-title Профессионализм
                p.features__card-description Сертифицированные мастера с многолетним опытом работы
            .features__card 
                .features__card-icon
                    img(src="images/icon/heart.svg", alt="Индивидуальный подход")
                h3.features__card-title Индивидуальный подход
                p.features__card-description Персональные программы ухода для каждого клиента
            .features__card 
                .features__card-icon
                    img(src="images/icon/clock.svg", alt="Удобное время")
                h3.features__card-title Удобное время
                p.features__card-description Работаем ежедневно с 9:00 до 21:00 без выходных