section.service-detail 
    .service-detail__container
        h2.service-detail__title Макияж
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Профессиональный макияж, который подчёркивает вашу естественную красоту. Мы создаём образы для любого случая — от повседневного до вечернего, используя качественную косметику и индивидуальный подход.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Дневной макияж
                        li.service-detail__item Вечерний макияж
                        li.service-detail__item Свадебный макияж
                        li.service-detail__item Обучение технике макияжа
                        li.service-detail__item Подбор косметики под ваш тип кожи
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_makeup.jpg", alt="Макияж")

include button-up.pug

