section.service-detail 
    .service-detail__container
        h2.service-detail__title Маникюр
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Профессиональный маникюр с использованием натуральных покрытий и бережных техник. Мы создаём ухоженные руки, подчёркивая вашу естественную красоту с помощью экологичных материалов.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Обработка кутикулы
                        li.service-detail__item Придание формы ногтям
                        li.service-detail__item Покрытие натуральными лаками
                        li.service-detail__item Уход за кожей рук
                        li.service-detail__item Массаж кистей
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_manicure.jpg", alt="Маникюр")

include button-up.pug

