section.service-detail 
    .service-detail__container
        h2.service-detail__title Косметические маски
        .service-detail__content
            .service-detail__text
                p.service-detail__description 
                    | Индивидуальный подбор профессиональных масок для решения различных проблем кожи: увлажнение, питание, очищение, омоложение и восстановление.
                .service-detail__info
                    h3.service-detail__subtitle Что включает процедура:
                    ul.service-detail__list
                        li.service-detail__item Подбор маски по типу кожи
                        li.service-detail__item Глубокая очистка пор
                        li.service-detail__item Интенсивное увлажнение
                        li.service-detail__item Питание и восстановление
                        li.service-detail__item Улучшение текстуры кожи
                .service-detail__action
                    a.service-detail__btn(href="/#reception") Записаться на прием
            .service-detail__image
                img(src="images/card_3.png", alt="Косметические маски")

include button-up.pug

