section.masks 
    .masks__container
        h2.masks__title Косметические маски
        .masks__content
            .masks__text
                p.masks__description 
                    | Индивидуальный подбор профессиональных масок для решения различных проблем кожи: увлажнение, питание, очищение, омоложение и восстановление.
                .masks__info
                    h3.masks__subtitle Что включает процедура:
                    ul.masks__list
                        li.masks__item Подбор маски по типу кожи
                        li.masks__item Глубокая очистка пор
                        li.masks__item Интенсивное увлажнение
                        li.masks__item Питание и восстановление
                        li.masks__item Улучшение текстуры кожи
                .masks__action
                    a.masks__btn(href="/#reception") Записаться на прием
            .masks__image
                img(src="images/card_3.png", alt="Косметические маски")

include button-up.pug

