section.price#price
    .price__container
        .price__header
            h1.price__title ПРАЙС

        .price__content
            // Основные услуги
            .price__section
                ul.price__list
                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Ручной лифтинг лица
                                p.price__item-description Очищение, проработка ШВЗ, декольте, головы, лица, завершающий крем
                            .price__item-price 2000 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Буккальный массаж
                                p.price__item-description Дополнительная проработка нижней трети лица через ротовую полость
                            .price__item-price 2500 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title RF лифтинг + уход по проблеме
                                p.price__item-description лицо, шея, декольте
                            .price__item-price 2000 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Ультразвуковая чистка
                                p.price__item-description щадящий способ глубокого очищения кожи, с помощью высокочастотных звуковых волн, без механического повреждения кожи
                            .price__item-price 1700 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Гидропилинг
                                p.price__item-description аппаратно-вакуумная чистка
                            .price__item-price 1500 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Пилинг уход
                                p.price__item-description Придает коже сияние и гладкость, борется с повышенной сальностью и несовершенствами кожи, слегка отбеливает, выравнивает рельеф и цвет
                            .price__item-price 2000 ₽

            // Комплексы для лица
            .price__section.price__section_complex
                h2.price__section-title Комплекс для лица:
                ul.price__list
                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Ручной лифтинг + пилинг уход
                            .price__item-price 3000 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Гидропилинг + УЗчистка
                            .price__item-price 2500 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Ручной лифтинг + RF лифтинг
                            .price__item-price 3000 ₽

            // Дополнительно
            .price__section.price__section_additional
                h2.price__section-title Дополнительно:
                ul.price__list
                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Альгинатная маска
                            .price__item-price 500 ₽

                    li.price__item
                        .price__item-content
                            .price__item-info
                                h3.price__item-title Тейпирование лица
                            .price__item-price 300 ₽

include button-up.pug

