// include reception.pug
section.reception(id='reception')
    .reception__container 
        h2 Записаться на прием
        form.reception__form.form
            label(for="name") Ваше имя
            input.form__name(type="text" placeholder="Введите имя" name="name" required)
            label(for="phone") Телефон для свзяи
            input(type="tel" id="phone" placeholder="Номер телефона" name="phone" pattern="+7-[0-9]{3}-[0-9]{3}-[0-9]{4}" required)
            input(type="submit") 
