// include reviews.pug
section.reviews(id='reviews') 
    .reviews__container 
        h2 Отзывы
        .reviews__slider.splide(id='reviews_slider')
            .splide__arrows
                button.splide__arrow.splide__arrow--prev
                button.splide__arrow.splide__arrow--next
            .splide__track
                ul.splide__list
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_1.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Юрьева Оксана
                                p Клиника чистая, уютная. Персонал улыбчивый, вежливый, услужливый. Всегда объяснят если что не понятно несколько раз, с таким персоналом приятно общаться. Мне уделили довольно много времени, всё подробно рассказали и проконсультировали.
                                p.date 12.02.2020
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_2.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Викина Вика
                                p Хочу сказать огромное СПАСИБО врачам и персоналу Стоматологии Семейный Доктор. Я ваш вечный клиент и главное эксклюзивный. Очень рада что мы познакомились. СПАСИБО!
                                p.date 12.02.2020
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_1.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Юрьева Оксана
                                p Клиника чистая, уютная. Персонал улыбчивый, вежливый, услужливый. Всегда объяснят если что не понятно несколько раз, с таким персоналом приятно общаться. Мне уделили довольно много времени, всё подробно рассказали и проконсультировали.
                                p.date 12.02.2020
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_2.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Викина Вика
                                p Хочу сказать огромное СПАСИБО врачам и персоналу Стоматологии Семейный Доктор. Я ваш вечный клиент и главное эксклюзивный. Очень рада что мы познакомились. СПАСИБО!
                                p.date 12.02.2020
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_1.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Юрьева Оксана
                                p Клиника чистая, уютная. Персонал улыбчивый, вежливый, услужливый. Всегда объяснят если что не понятно несколько раз, с таким персоналом приятно общаться. Мне уделили довольно много времени, всё подробно рассказали и проконсультировали.
                                p.date 12.02.2020
                    li.splide__slide
                        .reviews__card
                            .reviews__img 
                                img(src="images/reviews_2.png", alt="Счастливый клиент клиники")
                            .reviews__txt 
                                h3 Викина Вика
                                p Хочу сказать огромное СПАСИБО врачам и персоналу Стоматологии Семейный Доктор. Я ваш вечный клиент и главное эксклюзивный. Очень рада что мы познакомились. СПАСИБО!
                                p.date 12.02.2020