// include sale.pug
section.sale 
    .sale__container 
        h2 Акции
        .sale__wrapper 
            section.splide(aria-label="Splide Basic HTML Example")
                div.splide__track
                    ul.splide__list
                        li.splide__slide Slide 01
                        li.splide__slide Slide 01
                        li.splide__slide Slide 01