// include sale.pug
section.sale(id='sale') 
    .sale__container 
        h2.sale__title Акции
        .sale__wrapper 
            .sale__slader.splide(id='sale_slider')
                div.splide__track
                    ul.splide__list
                        li.splide__slide
                            .sale__item
                                img(src="images/sale_img.png", alt="sale")
                        li.splide__slide
                            .sale__item
                                img(src="images/sale_img.png", alt="sale")
                        li.splide__slide
                            .sale__item
                                img(src="images/sale_img.png", alt="sale")
                .splide__arrows
                    button.splide__arrow.splide__arrow--prev
                    ul.splide__pagination.splide__pagination--ltr
                    button.splide__arrow.splide__arrow--next