//include service.pug
section.service(id="service")
    .service__container 
        h2.service__title Наши услуги
        .service__wrapper 
            .service__card 
                .service__card-image
                    img(src="images/card_classic_massage.jpg", alt="Классический массаж")
                .service__card-content
                    h3.service__card-title Классический массаж
                    p.service__card-description Глубокая релаксация и восстановление мышечного тонуса
                    a.service__card-btn(href="/classic-massage.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_face_massage.jpg", alt="Массаж лица")
                .service__card-content
                    h3.service__card-title Массаж лица
                    p.service__card-description Омоложение и улучшение тонуса кожи лица
                    a.service__card-btn(href="/face-massage.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_bucal.jpg", alt="Буккальный массаж")
                .service__card-content
                    h3.service__card-title Буккальный массаж
                    p.service__card-description Уникальная техника внутриротового массажа для лифтинга
                    a.service__card-btn(href="/bucal.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_manicure.jpg", alt="Маникюр")
                .service__card-content
                    h3.service__card-title Маникюр
                    p.service__card-description Профессиональный уход за ногтями с натуральными покрытиями
                    a.service__card-btn(href="/manicure.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_eyelashes.jpg", alt="Ресницы")
                .service__card-content
                    h3.service__card-title Ресницы
                    p.service__card-description Наращивание и ламинирование для естественного взгляда
                    a.service__card-btn(href="/eyelashes.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_makeup.jpg", alt="Макияж")
                .service__card-content
                    h3.service__card-title Макияж
                    p.service__card-description Профессиональный макияж, подчёркивающий вашу естественную красоту
                    a.service__card-btn(href="/makeup.html") Подробнее
