//include service.pug
section.service(id="Услуги")
    .service__container 
        h2 Наши услуги
        .service__wrapper 
            .service__card 
                .service__card-title 
                    h3 Массаж лица
                .service__card-btn 
                    a(href="#") Подробнее 
            .service__card 
                .service__card-title 
                    h3 Букальный массаж
                .service__card-btn 
                    a(href="#") Подробнее 
            .service__card 
                .service__card-title 
                    h3 Косметология
                .service__card-btn 
                    a(href="#") Подробнее 
            .service__card 
                .service__card-title 
                    h3 Косметические маски
                .service__card-btn 
                    a(href="#") Подробнее 
