//include service.pug
section.service(id="service")
    .service__container 
        h2.service__title Наши услуги
        .service__wrapper 
            .service__card 
                .service__card-image
                    img(src="images/card_1.png", alt="Массаж лица")
                .service__card-content
                    h3.service__card-title Массаж лица
                    p.service__card-description Профессиональный массаж для расслабления и улучшения состояния кожи лица
                    a.service__card-btn(href="/face-massage.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_2.png", alt="Букальный массаж")
                .service__card-content
                    h3.service__card-title Букальный массаж
                    p.service__card-description Эффективная техника массажа для улучшения контуров лица и тонуса мышц
                    a.service__card-btn(href="/bucal.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_4.png", alt="Косметология")
                .service__card-content
                    h3.service__card-title Косметология
                    p.service__card-description Комплексный уход за кожей с использованием современных методик
                    a.service__card-btn(href="/cosmetology.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_3.png", alt="Косметические маски")
                .service__card-content
                    h3.service__card-title Косметические маски
                    p.service__card-description Индивидуальный подбор масок для решения различных проблем кожи
                    a.service__card-btn(href="/masks.html") Подробнее
            .service__card 
                .service__card-image
                    img(src="images/card_5.png", alt="Эпиляция")
                .service__card-content
                    h3.service__card-title Эпиляция
                    p.service__card-description Безболезненное удаление нежелательных волос современными методами
                    a.service__card-btn(href="/epilation.html") Подробнее
