section.bucal 
    .bucal__container
        h2 Букальный массаж
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sapiente, at ipsum esse delectus nihil, accusantium itaque voluptas ab alias necessitatibus, enim obcaecati rerum. Sit fugiat natus soluta. Reiciendis, ipsa!

include ../button-up.pug
    