// colors
$light-pink: #ffdbdb;
$hot-pink: #ea99ff;
$cyan: #c2fcff;
$green: #c7df9e;
$peach: #ffeee3;
$gray: #7c8bb0;
$white: #f9f9f9;
$black: #131332;
$deep-oliva: #3d4a1f;

// fonts
$nav: "Ruda", sans-serif;
$heading: "El Messiri", sans-serif;

// font-size
