.features {
    background-color: #F9F9F9;

    &__wrapper {
        margin-top: 2.5rem;
        display: flex;
        align-items: unset;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__card {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        flex: 1;
        text-align: center;

        &-img {
            height: 100px;

            & img {
                height: 80%;
            }
        }

        &-txt {
            width: 183px;
            margin: 0 auto;
            text-align: center;
        }
    }
}

@media (max-width: 767.99px) {
    .features {
        &__container {
            margin-bottom: 60px;
        }

        &__wrapper {
            margin-top: 2rem;
        }

        &__card {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}
