.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: rgba(57, 93, 18, 0.3);
    box-shadow: 0px 4px 15px rgb(223, 255, 196);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background 0.3s ease;
}

.header_scrolled {
    background: rgba(57, 93, 18, 0.6);
}

.nav {
    font-family: $nav;
    font-size: 1.1rem;
    width: 100%;

    &__logo {
        display: flex;
        align-items: center;

        &_mobile {
            display: none !important;
            z-index: 51;
        }
    }

    &__logo_text {
        display: none !important;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        &_title {
            display: none;
        }

        &_logo_desktop {
            display: block;
        }
    }

    &__title {
        display: none;
    }

    &__link {
        position: relative;
        color: $white;

        //hover under link
        &::after {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $accent-sage;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }

        &:not(:nth-child(4)) {
            padding: 0.7rem;
        }
    }

    &__menu {
        width: 50px;
        display: none;

        & input {
            display: none;

            &:checked + .nav__btn > span {
                transform: rotate(45deg);
                transition: 0.3s;
            }
            &:checked + .nav__btn > span::before {
                top: 0;
                transform: rotate(0);
                transition: 0.3s;
            }
            &:checked + .nav__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                transition: 0.3s;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;

        & > span {
            display: block;
            position: absolute;
            width: 21px;
            height: 2px;
            background-color: $white;

            &::after,
            &::before {
                display: block;
                position: absolute;
                width: 21px;
                height: 2px;
                background-color: $white;
            }

            &::before {
                content: "";
                top: -8px;
            }

            &::after {
                content: "";
                top: 8px;
            }
        }
    }
}

@media (max-width: 1023.999px) {
    .nav {
        font-size: 1rem;

        &__item {
            &:nth-child(4) {
                order: -1;
            }
        }
    }
}

@media (max-width: 767.99px) {
    .header {
        position: fixed;
        background: rgba($deep-oliva, 0.8);
    }

    .header_scrolled {
        background: rgba($deep-oliva, 0.8) !important;
    }

    .header__container {
        padding: 1.5rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 70px;
    }

    .nav {
        font-size: 1.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__logo_mobile {
            display: flex !important;
            align-items: center;
            text-decoration: none;
            color: $white;
            z-index: 51;
        }

        &__logo_text {
            display: block !important;
            font-family: $logo;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
        }

        &__list {
            position: fixed;
            top: -100vh;
            left: 0;
            right: 0;
            flex-direction: column;
            justify-content: start;
            background: rgba($deep-oliva, 0.95);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            height: 100vh;
            transition: top 0.3s ease-in;
            padding-top: 10vh;
            z-index: 50;

            &_active {
                top: 0;
                transition: top 0.3s ease;
            }
        }

        &__item {
            padding: 1.5vh 0;
            width: 100%;
            text-align: center;

            &_logo_desktop {
                display: none;
            }

            &_title {
                position: absolute;
                bottom: 0;
                left: 20px;
                padding: 0;
                height: 7vh;
                display: flex;
                align-items: center;
            }
        }

        &__title {
            font-family: $logo;
            display: block;
            color: $white;
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0;
            text-transform: uppercase;
        }

        &__link {
            font-size: 1.3rem;
        }

        &__menu {
            display: block;
            position: relative;
            z-index: 51;
            flex-basis: content;

            & input {
                display: none;
            }
        }

        &__btn {
            position: relative;
            top: auto;
            right: auto;
            width: 40px;
            height: 40px;
            z-index: 52;
            display: flex;
            align-items: center;
            justify-content: center;

            & > span {
                width: 33px;
                height: 2px;
                background-color: $white;

                &::after,
                &::before {
                    width: 33px;
                    height: 2px;
                    background-color: $white;
                }

                &::before {
                    top: -12px;
                }

                &::after {
                    top: 12px;
                }
            }
        }
    }
}
