.header {
    position: absolute;
    width: 100%;
    z-index: 50;
}

.nav {
    font-family: $nav;
    font-size: 1.1rem;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        position: relative;
        color: $white;
        //hover under link
        &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $hot-pink;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }

        &:not(:nth-child(4)) {
            padding: 0.7rem;
        }
    }

    &__menu {
        width: 50px;
        display: none;

        & input {
            display: none;

            &:checked ~ .nav__btn > span {
                transform: rotate(45deg);
                transition: 0.3s;
            }
            &:checked ~ .nav__btn > span::before {
                top: 0;
                transform: rotate(0);
                transition: 0.3s;
            }
            &:checked ~ .nav__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                transition: 0.3s;
            }

            &:checked ~ .nav__list {
                visibility: visible;
                top: 0;
                // bottom: 0;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;

        & > span {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;

            &::after,
            &::before {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;
            }

            &::before {
                content: '';
                top: -8px;
            }

            &::after {
                content: '';
                top: 8px;
            }
        }
    }
}

@media (max-width: 1023.999px) {
    .nav {
        font-size: 1rem;

        &__item {
            &:nth-child(4) {
                order: -1;
            }
        }
    }
}

@media (max-width: 767.99px) {
    .nav {
        font-size: 1.5rem;

        &__list {
            position: fixed;
            top: -100vh;
            left: 0;
            right: 0;
            flex-direction: column;
            justify-content: start;
            background: linear-gradient(
                    223deg,
                    rgba(0, 32, 114, 0.2) 40%,
                    rgba(56, 56, 56, 0.2) 100%
                ),
                linear-gradient(
                    150deg,
                    rgba(83, 89, 81, 0.3) 40%,
                    rgba(0, 99, 126, 0.3) 100%
                ),
                linear-gradient(45deg, #000000, #5f8365, #b9b9b9);
            height: 100vh;
            transition: top 0.3s ease-in;

            &_active {
                top: 0;
                transition: top 0.3s ease;
            }
        }

        &__item {
            padding: 1vh;
        }

        &__link {
            font-size: 1.3rem;
        }

        &__menu {
            display: block;

            & input {
                display: none;
            }
        }
    }
}
