.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    background: rgba(57, 93, 18, 0.3);
    box-shadow: 0px 0px 15px rgb(223, 255, 196);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav {
    font-family: $nav;
    font-size: 1.1rem;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item_title {
        display: none;
    }

    &__title {
        display: none;
    }

    &__link {
        position: relative;
        color: $white;

        //hover under link
        &::after {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $hot-pink;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }

        &:not(:nth-child(4)) {
            padding: 0.7rem;
        }
    }

    &__menu {
        width: 50px;
        display: none;

        & input {
            display: none;

            &:checked ~ .nav__btn > span {
                transform: rotate(45deg);
                transition: 0.3s;
            }
            &:checked ~ .nav__btn > span::before {
                top: 0;
                transform: rotate(0);
                transition: 0.3s;
            }
            &:checked ~ .nav__btn > span::after {
                top: 0;
                transform: rotate(90deg);
                transition: 0.3s;
            }

            &:checked ~ .nav__list {
                visibility: visible;
                top: 0;
                // bottom: 0;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;

        & > span {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;

            &::after,
            &::before {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $white;
            }

            &::before {
                content: "";
                top: -8px;
            }

            &::after {
                content: "";
                top: 8px;
            }
        }
    }
}

@media (max-width: 1023.999px) {
    .nav {
        font-size: 1rem;

        &__item {
            &:nth-child(4) {
                order: -1;
            }
        }
    }
}

@media (max-width: 767.99px) {
    .header {
        position: absolute;
    }

    .nav {
        font-size: 1.5rem;

        &__list {
            position: fixed;
            top: -92vh;
            left: 0;
            right: 0;
            flex-direction: column;
            justify-content: start;
            background: rgba($deep-oliva, 0.88);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            box-shadow: 0px 0px 15px rgb(223, 255, 196);
            height: 100vh;
            transition: top 0.3s ease-in;
            padding-top: 7vh;

            &_active {
                top: 0;
                transition: top 0.3s ease;
            }
        }

        &__item {
            padding: 1vh;

            &_title {
                position: absolute;
                bottom: 0;
                left: 20px;
                padding: 0;
                height: 7vh;
                display: flex;
                align-items: center;
            }
        }

        &__title {
            font-family: $heading;
            display: block;
            color: $white;
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0;
            text-transform: uppercase;
        }

        &__link {
            font-size: 1.3rem;
        }

        &__menu {
            display: block;

            & input {
                display: none;
            }
        }
    }
}
