.sale {
    margin-top: 100px;

    &__container {
        background-color: $white;
    }

    &__title {
        text-align: center;
        color: $black;
    }

    &__wrapper {
        margin-top: 4rem;
    }
}

.splide {
    &__arrows {
        display: flex;
        justify-content: center;
        gap: 124px;

        margin-top: 40px;
    }

    &__arrow {
        border-radius: 50%;
        background-color: white;
        border: none;
        width: 3rem;
        height: 3rem;
        padding: 0;

        &--prev {
            background-image: url("../images/icon/arrow_prev.svg");
            background-position: 45% 50%;
            background-repeat: no-repeat;
        }

        &--next {
            background-image: url("../images/icon/arrow_next.svg");
            background-position: 55% 50%;
            background-repeat: no-repeat;
        }

        &:hover {
            background-color: $green;
        }
    }

    &__pagination {
        gap: 24px;

        &__page {
            background-color: #aeacaa;
            height: 16px;
            width: 16px;
            border: none;
            border-radius: 50%;
        }

        & .is-active {
            background-color: #363431;
        }
    }
}

@media (max-width: 768.99px) {
    .sale {
        &__container {
            padding-top: 40px;
            padding-bottom: 60px;
            margin-bottom: 40px;
        }
        &__title {
            font-size: 2.5rem;
        }

        &__wrapper {
            margin-top: 2rem;
        }

        &__item {
            width: 100vw;
            height: 50vh;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: right;
            }
        }
    }

    .splide {
        &__arrows {
            margin-top: 20px;
        }

        &__arrow {
            position: absolute;
            width: 3rem;
            height: 3rem;
            background-color: inherit;

            &--prev {
                top: 60%;
                left: 0;
                background-image: url("../images/icon/arrow_prev.svg");
                background-size: 50%;
            }

            &--next {
                top: 60%;
                right: 0;
                background-image: url("../images/icon/arrow_next.svg");
                background-size: 50%;
            }
        }

        &__pagination {
            & > li {
                height: 12px;
            }

            &__page {
                padding: 0;
                height: 10px;
                width: 10px;
            }
        }
    }
}
