footer.footer
    .footer__container
        .footer__content
            .footer__brand
                a.footer__logo(href="./")
                    img(src="images/logo.svg", alt="Sculptura")
                p.footer__tagline Студия Вашей красоты
            .footer__info
                h3.footer__title Контакты
                .footer__address
                    address д. Кондратово
                    address ул. Садовое кольцо 14
                    em вход с торца здания
            .footer__schedule
                h3.footer__title Режим работы
                p с 9:00 до 21:00
                p последняя запись до 19:00
            .footer__contact
                h3.footer__title Связаться с нами
                a.footer__phone(href="tel:+79638816267") +7 (963) 881-62-67
                .footer__social
                    a.footer__social-link(href="https://vk.com/buccal59", target="_blank", rel="noopener noreferrer")
                        img(src="images/icon/vk-icon.svg", alt="VK")
                        span Наша группа в контакте
        .footer__bottom
            p.footer__copyright © 2024 Sculptura. Все права защищены.

