//- include header

header.header 
    .header__container             
        nav.header_nav.nav
            div.nav__menu
                input(id="menu__toggle" type="checkbox")
                label.nav__btn(for="menu__toggle")
                    span
            
            ul.nav__list
                li.nav__item.nav__item
                    a.nav__link(href='/#service') Услуги
                li.nav__item 
                    a.nav__link(href='/#price') Прайс-лист
                li.nav__item 
                    a.nav__link(href='/#sale') Акции
                li.nav__item 
                    a.nav__logo(href='./')
                        img.header__img(src="images/logo.svg", alt="Sculptura")
                li.nav__item 
                    a.nav__link(href='/#about') О салоне
                li.nav__item 
                    a.nav__link(href='/#reviews') Отзывы
                li.nav__item 
                    a.nav__link(href='/#contact') Контакты
                li.nav__item.nav__item_title
                    span.nav__title SCULPTURA
                