//- layout.pug
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon", type="image/svg+xml", href="images/logo.svg")
        link(rel="alternate icon", href="images/logo.png")
        link(rel="apple-touch-icon", href="images/logo.png")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide-core.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Sculptura - студия Вашей красоты
    body
        block header
            include header.pug
        block content 
        block footer
            include footer.pug
        block scripts
            include scripts.pug
